/* general style for jira space style */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap");  
  
:root {  
    --colors--white-500: #fff;  
    --gvsg--colors--grey-2: #f7f8f8;  
    --gvsg--colors--grey-3: #eff0f0;  
    --gvsg--colors--grey-5: #e0e2e2;  
    --gvsg--colors--grey-10: #d0d0d3;  
    --colors--gray-500: #f3f0ec;  
    --colors--gray-600: #e6e3df;  
    --colors--gray-900: #a6a8ab;  
    --gvsg--colors--grey-15: #bdc0c0;  
    --gvsg--colors--grey-20: #a9adad;  
    --gvsg--colors--grey-30: #878a8c;  
    --gvsg--colors--grey-40: #53575b;  
    --gvsg--colors--grey-60: #3a3d40;  
    --gvsg--colors--grey-120: #212225;  
    --gvsg--colors--grey-125: #0d0f10;  
    --colors--black-500: #000;  
    --colors--blue-300: #40b5d6;  
    --colors--blue-500: #1a8fb0;  
    --colors--charcoal-100: #808285;  
    --colors--charcoal-200: #737371;  
    --colors--charcoal-300: #595957;  
    --colors--charcoal-500: #333331;  
    --colors--magenta-500: #cc0f7a;  
    --colors--sba-red-500: #d50032;  
    --colors--slate-500: #313a59;  
    --gvsg--colors--blue-10: #7de3f4;  
    --gvsg--colors--blue-20: #01b6d1;  
    --gvsg--colors--blue-40: #003057;  
    --gvsg--colors--green-10: #bed21e;  
    --gvsg--colors--green-20: #6db344;  
    --gvsg--colors--green-30: #318d43;  
    --gvsg--colors--green-40: #235c35;  
    --gvsg--colors--red-10: #fc4e6d;  
    --gvsg--colors--red-15: #ff2d30;  
    --gvsg--colors--red-20: #bd0057;  
    --gvsg--colors--red-30: #8f124a;  
    --gvsg--colors--red-40: #6e0d33;  
    --gvsg--colors--yellow-30: #d45311;  
    --gvsg--colors--yellow-40: #674730;  
    --gvsg--colors--purple40: #432554;  
    --gvsg--colors--confirmation: #a3d287;  
    --gvsg--colors--warning: #ffd072;  
    --gvsg--colors--error: #fc7473;  
    --gvsg--colors--interactive: #177c9c;  
    --gvsg--colors--link--unselected: #2b87a4;  
    --gvsg--colors--link--hover: #88e5f4;  
    --ltw--colors--green: #133e29;  
    --ltw--colors--rich--red: #ac0027;  
    --cuc--color--orange: var(--gvsg--colors--yellow-25);  
    --cuc--color--gold: #c2a01e;  
    --gvsg--colors--yellow-10: #ffb81c;  
    --gvsg--colors--yellow-20: #f68d2e;  
    --gvsg--colors--yellow-25: #ea7225;  
    --gvsg--colors--white: #fff;  
    --gvsg--colors--blue-30: #006184;  
    --gvsg--colors--easterpurple: #592569;  
    --gvsg--colors--link: #177c9c;  
    --ltw--colors--red: #d50032;  
    --cuc--color--cream: #f8f0e4;  
}  
  
* {  
    box-sizing: border-box;  
    font-family: "Open Sans", sans-serif;  
}  
  
#title-text a {  
    font-size: 32px;  
    color: var(--gvsg--colors--grey-60);  
}  
  
.wiki-content a,  
.wiki-content a:link,  
.wiki-content a:visited,  
.wiki-content a:focus,  
.wiki-content a:hover,  
.wiki-content a:active {  
    text-decoration: none;  
    color: var(--gvsg--colors--link);  
}  
  
.wiki-content a:hover {  
    color: var(--gvsg--colors--link--hover);  
}  
  
hr {  
    margin: 16px 0;  
}  
  
.wiki-content,  
.wiki-content p,  
.wiki-content table,  
.wiki-content tr,  
.wiki-content td,  
.wiki-content th,  
.wiki-content ol,  
.wiki-content ul,  
.wiki-content li {  
    font-family: "Open Sans", "Helvetica", sans-serif;  
    font-size: 16px;  
    font-weight: 400;  
    color: var(--gvsg--colors--grey-60);  
}  
  
.page-metadata,  
.page-metadata ul li a:link,  
.page-metadata ul li a:focus,  
.page-metadata ul li a:hover,  
.page-metadata ul li a:active,  
.page-metadata ul li a:visited {  
    padding: 0 5px 0 2px;  
    line-height: 1.2;  
}  
  
.wiki-content h1,  
.wiki-content h2,  
.wiki-content h3,  
.wiki-content h4,  
.wiki-content h5,  
.wiki-content h6 {  
    color: var(--gvsg--colors--grey-60);  
}  
  
.wiki-content h1 a {  
    font-size: 32px;  
}  

/* team members */  
  
h2.team-name,  
h2.team-name:first-child {  
    text-align: left;  
    color: var(--gvsg--colors--grey-120);  
    font-size: 20px;  
    font-weight: 600;  
    margin: 5px 10px 15px 10px;  
}  
  
#container {  
    max-width: 1500px;  
    display: flex;  
    justify-content: center;  
    align-content: center;  
    flex-wrap: wrap;  
    margin: 0 auto;  
}  
  
p.profile {  
    font-size: 12px;  
    margin: -12px 10px 0;  
    line-height: 18px;  
    text-align: left;  
}  
  
p.profile span {  
    font-weight: 600;  
}  
  
*[class*="image-"] {  
    width: 250px;  
    height: 194px;  
    background-size: 250px 194px;  
    background-repeat: no-repeat;  
    margin: 30px 10px 12px;  
}  
  
.image-01 {  
    background-image: url(https://www.apple.com/leadership/images/overview/ceo_image.jpg.large.jpg);  
}  
  
.image-02 {  
    background-image: url(https://www.apple.com/leadership/images/overview/srvpgeneralcounsel_image.jpg.large.jpg);  
}  
  
.image-03 {  
    background-image: url(https://confluence.churchofjesuschrist.org/download/thumbnails/70661082/stephanie-barlow.png?api=v2&nonce=1609371346165);  
}  